/* 4cdebruyn.dx.am/index.php */
/* colors the background */
html, body{
	width: 100%;
	height: 100%;
	background-image: url("image/image11.jpg");
}

#main{
	width:960px;
	min-height:100px;
	margin: 0px auto;
	background-color: #423f3f;
	padding:10px;
	box-shadow:3px 3px 15px #555;
}

#img1{
        margin-left: 620px;
        position: absolute;
        }

#img2{
        margin-left: 260px;
        position: relative;
        }
        
#img3{
        margin-left: 1000px;
        position: relative;
        }
        
#img4{
        margin-left: 200px;
        position: absolute;
        }

nav ul{
	margin-left: 10px;
        margin-right: 0px;
	padding:0px;
	list-style-type:none;
        left: 50px;
        text-align: left;
        color: #ffffff;
        
}



nav li{
	display:inline;
	margin: 0px 10px;
        text-align: left;
        color: #ffffff;
}

nav a{
        margin-left: 10px;
        margin-right: 0px;
        text-align: left;
        color: #ffffff;
        font-family: 'Basic', sans-serif;
	padding:4px 10px;
	text-decoration:none;
	font-weight:bold;
        font-size: 14px;
	border: 2px solid #ffffff;
}

nav a:link {
	color: #ffffff;
}

nav a:hover {
	background-color: rgba(249, 136, 69, 0.4);
}
        
Username{
        align: center;
        width: 100px;
        height: 30px;
}

#container
{
	width:950px;
	padding: 5px 0px 0px 5px;
	background-color:#ffffff;
	border: 2px solid #333333;
	position: relative;
	margin-top: 15px;
	border-radius:10px;
        max-height: 20000px;
}

#login_container
{
	width:325px;
	padding: 5px 0px 0px 5px;
	background-color:#ffffff;
	border: 2px solid #333333;
	position: relative;
	top: 300px;
        left: 500px;
	border-radius:10px;
        height: 180px;
}

#product {
        display: block;
        margin-top: 50px;
        position: relative;
        width: 950px;
        min-height: 30px;
        margin-bottom: 30px;
}

#product2 {
        display: block;
        margin-top: 50px;
        position: relative;
        width: 950px;
        min-height: 200px;
}

#TITLE, #ARTIST, #ALBUM, #DURATION, #GENRE, #ADD1, #DEL1 
{ 
	padding: 5px 5px 0px 5px;
	margin-bottom: 10px;
        margin-top: 10px;
	font-size: 1em;
        width: 150px;
        position: absolute;
        font-family: 'Basic', sans-serif;
        height: 25px;
        font-weight:bold;
}

input[value=Add]{
        position: relative;
        left: 870px;
        }

input[type=text], input[value=Search]{
        position: relative;
        margin-left: 750px;
        padding: 0px;
        display: inline;
        height: 30px; 
        }
        
input[type=text]{
        margin-right: 40px;
        margin-top: -3px;
        top: -37px;
        left: -75px;
        width: 150px;
        }
        
input[value=Search]{
        margin-right: -148px;
        color: #ffffff;
        margin-top: -67px;
        background-color: rgb(190, 212, 224);
        border-width: 1.5px;
        border-color: #ffffff;
        width: 80px;
        font-family: 'Russo One', sans-serif;
        right: -80px;
        }
      

#HEADINGS{
        position: relative;
        left: 50px;
        width: 50px;
        padding: -20px;
        display: inline;
        list-style-type:none;
        }

#HEADINGS2{
        position: relative;
        left: 190px;
        width: 50px;
        padding: -20px;
        display: inline;
        list-style-type:none;
        } 
        
#HEADINGS3{
        position: relative;
        left: 300px;
        width: 50px;
        padding: -20px;
        display: inline;
        list-style-type:none;
        } 
     

#HEADINGS4{
        position: relative;
        left: 425px;
        width: 50px;
        padding: -20px;
        display: inline;
        list-style-type:none;
        } 
        
#HEADINGS5{
        position: relative;
        left: 500px;
        width: 50px;
        padding: -20px;
        display: inline;
        list-style-type:none;
        }
        
#fullduration{
        margin-top: -35px;
        margin-left: 740px;
        }
        
#ADD1{
        left: 825px;
     }
     
#DEL1{
        left: 875px;
     }
     
#TITLE
{
        left: 50px;
}

#ARTIST
{
        left: 230px;
}

#ALBUM
{
        left: 400px;
}

#GENRE
{
        left: 600px;
}

#DURATION
{
        left: 750px;
}        
        

/* This is for musicplaylist page */        
#HEADINGSa{
        position: relative;
        left: 30px;
        width: 50px;
        padding: -20px;
        display: inline;
        list-style-type:none;
        }

#HEADINGS2a{
        position: relative;
        left: 150px;
        width: 50px;
        padding: -20px;
        display: inline;
        list-style-type:none;
        } 
        
#HEADINGS3a{
        position: relative;
        left: 250px;
        width: 50px;
        padding: -20px;
        display: inline;
        list-style-type:none;
        } 
     

#HEADINGS4a{
        position: relative;
        left: 325px;
        width: 50px;
        padding: -20px;
        display: inline;
        list-style-type:none;
        } 
        
#HEADINGS5a{
        position: relative;
        left: 385px;
        width: 50px;
        padding: -20px;
        display: inline;
        list-style-type:none;
        } 
        
#HEADINGS6a{
        position: relative;
        left: 415px;
        width: 50px;
        padding: -20px;
        display: inline;
        list-style-type:none;
        } 
        
#TITLEa, #ARTISTa, #ALBUMa, #DURATIONa, #GENREa, #USERa  
{ 
	padding: 5px 5px 0px 5px;
	margin-bottom: 10px;
        margin-top: 10px;
	font-size: 1em;
        width: 150px;
        position: absolute;
        font-family: 'Basic', sans-serif;
        height: 25px;
        font-weight:bold;
}

#TITLEa
{
        left: 10px;
}

#ARTISTa
{
        left: 170px;
}

#ALBUMa
{
        left: 330px;
}

#GENREa
{
        left: 495px;
}

#DURATIONa
{
        left: 640px;
}

#USERa
{
        left:740px;
}

h1
{
	font-size: 70px;
	color: #ffffff;
        font-family: 'Russo One', sans-serif;
        text-align: center;
}

h2
{
	font-size: 24px;
	color: black;
        font-family: 'Basic', sans-serif;
        text-align: center;
}

h3
{
	font-size: 20px;
	color: white;
        font-family: 'Basic', sans-serif;
        text-align: center;
}

h4
{
	font-size: 40px;
	color: black;
        font-family: 'Russo One', sans-serif;
        text-align: center;
        margin-top: 0px;
        margin-left: 0px;
        position: relative;
}
h6
{
	font-size: 40px;
	color: black;
        font-family: 'Russo One', sans-serif;
        text-align: center;
        margin-top: 0px;
        margin-left: 300px;
        position: absolute;
}

/* Jquery slides */
slider{
        display: block;
        width: 100%;
        height: 100%;
        background-color: #1f1f1f;
        position: absolute;
        overflow: hidden;
        }
        
slider > * {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #1f1f1f;
        animation: slide 20s infinite;
        overflow: hidden;
        }
        
slide:nth-child(1) {
        left: 0%;
        animation-delay: -1s;
        background-image: url("image/image1");
        background-size: cover;
        background-position: center;
        }
        
slide:nth-child(2) {
        animation-delay: 2s;
        background-image: url("image/image2");
        background-size: cover;
        background-position: center;

}

slide:nth-child(3) {
        animation-delay: 5s;
        background-image: url("image/image3");
        background-size: cover;
        background-position: center;
        }
        
slide:nth-child(4) {
        animation-delay: 8s;
        background-image: url("image/image4");
        background-size: cover;
        background-position: center;
        }

slide:nth-child(5) {
        animation-delay: 11s;
        background-image: url("image/image5");
        background-size: cover;
        background-position: center;
        }

slide:nth-child(6) {
        animation-delay: 14s;
        background-image: url("image/image6");
        background-size: cover;
        background-position: center;
        }
        
slide:nth-child(7) {
        animation-delay: 17s;
        background-image: url("image/image7");
        background-size: cover;
        background-position: center;
        }
        
@keyframes slide {
        0% { left: 100%; width: 100%;}
        5% { left: 0%;}
        25% { left: 0%}
        30% { left: -100%; width 100%}
        30.0001% { left: -100%; width: 0%;}
        100% { left 100%, width: 0%}
        }