/* 4cdebruyn.dx.am/console.php */
/* colors the background */
html{
	width: 100%;
	height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        
}

#my_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}


/* form{
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        } */
        
        
#s2{
        width: 400px;
        height: 300px;
        text-align: center;
        background-color: rgba(52, 73, 94, 0.7);
        border radius: 4px;
        margin: 0 auto;
        margin-top: 150px;
}

#song_container{
        width: 600px;
        height: 400px;
        text-align: center;
        background-color: rgba(52, 73, 94, 0.7);
        border radius: 4px;
        margin: 0 auto;
        margin-top: 150px;
}

#headings{
        height: 400px;
        width: 100px;
        margin-top: -30px;
        
        text-align: center;
        margin-left: 70px;
        display: in-line;
        }

#entrybox{
        margin-top: -400px;
        }


input[type="text"], input[type="password"]{
        height: 30px;
        width: 300px;
        top: 40px;
        font-size: 18px;
        background-color: #ffffff;
        margin-bottom: 20px;
        }
        
input[type="text"]{
        top: -200px;
        margin-right: -100px;
        }
        
        
input[Value="Create"]{
        padding: 15px; 25px;
        margin-top: 0px;
        margin-right: -400px;
        color: #ffffff;
        background-color: rgba(57, 61, 68, 0.4);
        border-width: 1.5px;
        border-color: #ffffff;
        width: 100px;
        font-family: 'Russo One', sans-serif;
        }

input[Value="Back"]{
        padding: 15px; 25px;
        margin-top: -64px;
        margin-left: -400px;
        color: #ffffff;
        background-color: rgba(57, 61, 68, 0.4);
        border-width: 1.5px;
        border-color: #ffffff;
        width: 100px;
        font-family: 'Russo One', sans-serif;
        }
        
h2{
        font-family: 'Russo One', sans-serif;
        font-size: 55px;
        color: #ffffff;
        }
        
h3{
        font-family: 'Basic', sans-serif;
        font-size: 18px;
        color: #ffffff;
        margin-top: -5px;
        }
        
h4{
        font-family: 'Basic', sans-serif;
        font-size: 15px;
        color: rgba(210, 212, 216, 0.8);
        margin-top: 175px;
        text-align: center;
        }
        
input[type="submit"]:hover{
        background-color: rgba(249, 136, 69, 0.4);
        }
  